:root{
  --main-background:  hsl(268, 75%, 9%);
  --toggle-background:   hsl(268, 71%, 12%);
  --screen-background:  hsl(268, 71%, 12%);
  
  --key-background: hsl(281, 89%, 26%);
  --key-shadow:  hsl(285, 91%, 52%);
  --key-background2: hsl(176, 100%, 44%);
  --key-shadow2: hsl(177, 92%, 70%);
  --key-background3: hsl(268, 47%, 21%);
  --key-shadow3: hsl(290, 70%, 36%);
  
  --text-color1: hsl(52, 100%, 62%);
  --text-color2: hsl(0, 0%, 100%);
}


