@import 'themes.scss';


input[type=range] {
  width: 100%;
  margin: -3.4px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
// input[type=range]::
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background-color: var(--toggle-background);
  border: none;
  padding: 0 5px;
  border-radius: 24.1px;
  width: 100%;
  height: 23.8px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: 3.2px;
  width: 16px;
  height: 17px;
  background-color: var(--key-background2);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
  background-color: var(--toggle-background);
  border:  none;
  border-radius: 24.1px;
  width: 100%;
  height: 23.8px; 
  padding: 0 5px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 16px;
  height: 17px;
  background-color: var(--key-background2);
  border: none;
  //  padding: 0 5px;
  border-radius: 50px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background-color: transparent;
  border-color: transparent;
  padding: 0 5px;
  border-width: 0 0;
  color: transparent;
  width: 100%;
  height: 23.8px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background-color: var(--toggle-background);
  border: 0.2px solid #010101;
  border-radius: 48.2px;
}
input[type=range]::-ms-fill-upper {
  background-color: var(--toggle-background);
  border: 0.2px solid #010101;
  border-radius: 48.2px;
}
input[type=range]::-ms-thumb {
  width: 16px;
  height: 17px;
  background-color: var(--toggle-background);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background-color: var(--toggle-background);
}
input[type=range]:focus::-ms-fill-upper {
  background-color: var(--toggle-background);
}
