@use "range.scss";
@import 'themes.scss';

*{
  transition: background-color 0.5s, color 1s;
}
body {
  background: var(--main-background);
  // width: 50%;
  // margin: auto;
  display: flex;
  flex-direction: column;
  font-family: Spartan;
  font-weight: 700;
  // font-size: 32px;
}
$padding: 25px;
.calc{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  min-width: 320px;
  max-width: 420px !important;
  header{
    display: flex;
    justify-content: space-between;
    .theme{
      display: flex;
      align-items: center;
      justify-content: space-around;
      // width: 125px;
      font-size: 12px;
      input[type="range"]{
        width: 60px;
        padding-left:20px;
       &::-webkit-slider-runnable-track{
        //  height: px;
        cursor: pointer;
       }
      }
      datalist{
        display: inherit;
        position: absolute;
        top: 7px;
        right: -2px;
        option{
          padding: 0 7px;
          cursor: pointer;
        }
      }
    }
  }
  input[name='total']{
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    height: 60px;
    text-align: end;
    background: var(--screen-background);
    border: none;
    padding: 0 $padding;
    padding-top: 7px;
  }
  
  form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: var(--screen-background);
    grid-gap: 15px;
    padding: $padding;
    input[value='reset']{
      grid-column: 1/3;
    }
    input[value='=']{
      grid-column: 3/5;
    }
  }
}
$border-edge: 6px;
form{
  border-radius: $border-edge;
}
input{
  border-radius: $border-edge;
  border-width: 7px 0 2px 0px;
  border-color: var(--key-shadow3);
  border-top-color: transparent;
  font-family: Spartan;
  font-weight: 700;
  height: 54px;
  font-size: 25px;
}

.title, .theme, .total {
  color: var(--text-color1);
}
.del, .reset, .theme {
  text-transform: uppercase;
}
.keys{
  input{
    color: var(--text-color1);
    background: var(--key-background3);
    &.reset, &.del {
      color: var(--text-color2);
      background: var(--key-background);
    }
    &.submit {
      color: var(--screen-background);
      background:  var(--key-background2);
    }
  }
}

